doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title MOM Document
  style.
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    body {
      
    }
    section {
      margin: 0 1.5rem;
    }
    .comp-name {
      margin: auto; 
      text-align: center;
      font-weight: 800;
    }
    .fat-text {
      letter-spacing: -3px;
    }
    .sm {
      font-size: 14pt ;
      font-family: Cambria, serif;
      margin-right: 1rem
      
    }
    .lg {
      margin-right: 0;
      font-family: Cambria, serif;
      font-size: 19pt;
    }
    .ql-align-center {
      text-align: center;
    }
    .link {
      font-size: 12pt;
      font-family: Cambria, serif;
      color: rgb(5, 99, 193);
      margin-left: 0.4rem;
    }
    .bold-text {
      font-size: 13pt ;
      font-family: Cambria, serif;
      font-weight: 600
    }
    .normal-text {
      font-size: 12pt ;
      font-family: Cambria, serif;
    }
    .company-data {
      font-size: 12pt;
      font-family: Cambria, serif;
    }
    .cin,u {
      font-weight: 600;
    }
    ol{
      margin-left: 2rem
    }
    
    .table-div{
      margin: 1rem
    }
    table{
      border-collapse: collapse;
      width: 100%;
      border: 1px solid black;
      border-spacing: 0;
    }
    td{
      border: 1px solid black;
      text-align: left;
      padding: 8px;
    }
    .table-data{
      font-weight: 600;
    }
    ul {
      margin: 0 2.5rem;
    }
    ol > li, section:nth-of-type(2) > p, ul > li {
      line-height: 2rem;
    }
    section:nth-of-type(2){
     margin-top: 1.5rem;
    }
   
body
  main
    section 
      p(class="comp-name") 
        span(class="lg") I
        span(class="sm") NFOMERICS 
        span(class="lg fat-text") V 
        span(class="sm") ALUATION
        span(class="sm") AND   
        span(class="lg fat-text") R 
        span(class="sm") ATING   
        span(class="lg") P
        span(class="sm") RIVATE   
        span(class="lg") L
        span(class="sm") IMITED   

      p(class="ql-align-center") 
        span(class="bold-text") Head Office-
        span(class="normal-text") Flat No. 104/108, Golf Apartments, Sujan Singh Park New Delhi-110003,
      p(class="ql-align-center") 
        span(class="bold-text") Corporate Office:
        span(class="normal-text") 1102, 1103 & 1104 -B Wing, Kanakia Wallstreet, Off. Andheri Kurla Road, Andheri (East), Mumbai-400093.
      p(class="ql-align-center")
        span(class="company-data") Email:
        a(class="link" rel="noreferrer" href="mailto:vma@infomerics.com" target="_blank") vma@infomerics.com
        span(class="company-data") , Website:
        a(class="link" rel="noreferrer" href="https://www.infomerics.com/" target="_blank") https://www.infomerics.com
      p(class="ql-align-center")
        span(class="company-data") Phone: +91-11 24601142, 24611910, Fax: +91 11 24627549
      p(class="ql-align-center")
        span(class="company-data cin") (CIN: #{cin})
        
    section 
      p(style="border-bottom: 2px dashed #000; padding-bottom: 1rem; margin-bottom: 0.2rem; width: 75%;" )
        strong Minutes of 55th / 2022-23 meeting of the Rating Committee duly convened on Monday, 14th November 2022 at 4:00 pm through Video Conference.
      p(style="border-top: 2px dashed #000; padding-top: 1rem; margin-top: 0.2rem; width: 75%;") 
        u Rating Committee Members Present:
      ol  
        li Mr. S. C. Sinha 
        li Mr. Charan Singh 
        li Mr. Y.L. Madan
        li Mr. Gauri Shankar 
        li Mr. Amod Khanorkar
      br
      p   
        u Persons attended the RCM: 
      ol 
        li Mr. Sandeep Khaitan, Associate Director Ratings
        li Mr. Prakash Kabra, Sr. Director Ratings
        li Mr. Harsh Raj Sankhla, Associate Director Ratings
        li Mr. O P Jain, Director Ratings
        li Mr. Avik Podder, Director Ratings
        li Mr. Amit Bhuwania, Director Ratings
        li Mr. Prathamesh Mirashi, Ratings Analyst
        li Ms. Sejal Patil, Ratings Analyst
        li Ms. Shilpa Yadav, Ratings Analyst
        li Ms. Pretty Jalan, Ratings Analyst
        li Mr. Shivam Bhasin, Manager Ratings 
        li Mr. Hardik Gala, Ratings Analyst
        li Mr. Niket Dasani, Ratings Analyst
        li Ms. Kajal Sampat, Rating Analyst
        li Mr. Harshal Abhyankar, Ratings Analyst
        li Ms. Anmol Jain, Compliance Officer
      br
      p
        i 
          u Item No. 1
      p
        i 
          u Chairman
      p  
        strong Mr. Y. L. Madan  
        | was unanimously appointed as the Chairman of the meeting. The Chairman occupied the chair and declared the commencement of meeting after confirming the presence of the required quorum for the meeting.
      p
        i 
          u Item No. 2
      p
        u Leave of Absence
      p All Committee members were present at the meeting. 
      p
        i 
          u Item No. 3: Agenda No. A 
      p   
        u To confirm the minutes of 53rd RCM/ 2022-2023 held on 07th November, 2022.      
      p The Minutes of the 
        strong 53rd RCM/ 2022-2023 held on 07th November 2022 
        | were circulated to all the members vied email dated 
        strong 11th November 2022
        |  for confirmation and the same was confirmed by all the members through email.      
      p
        i 
          u Item No. 4: Agenda No. B1
       
      p To consider the Rating Proposal of 
        strong Insignian Home Private Limited.
      h4 . Information relating to Rating Decision: 
      div(class='table-div') 
        table            
          tr
            td(class="") Name of the Rated Entity  
            td(colspan="2" class="table-data") Insignian Home Private Limited 
          tr
            td(class="") Nature of Instrument   
            td(class="table-data") Long Term Bank Facilities
            td(class="table-data") Short Term Bank Facilities 
          tr
            td(class="") Size (Rs. Crore)  
            td(class="table-data") 10.33
            td(class="table-data") 29.67 
          tr
            td(class="") Fresh Rating/ Surveillance  
            td(colspan="2" class="table-data") Surveillance
          tr
            td(class="") Existing Rating  
            td(class="table-data") IVR BBB- / Stable [IVR Triple B Minus with stable outlook]
            td(class="table-data") IVR A3 [IVR A Three] 
          tr
            td(class="") Proposed Rating  
            td(class="table-data") IVR BBB- / Stable [IVR Triple B Minus with stable outlook]
            td(class="table-data") IVR A3 [IVR A Three]
          tr
            td(class="") Current Rating assigned
            td(class="table-data") IVR BBB- / Stable [IVR Triple B Minus with stable outlook]
            td(class="table-data") IVR A3 [IVR A Three] 
          tr
            td(class="") Name of the Analyst
            td(colspan="2" class="table-data") Mr. Hardik Gala/ Niket Ketan Dasani/ Mr. Prakash Kabra
        strong The case was presented by the Rating Analyst and the key salient features mentioned are as below:       
        br
        ul 
          li Company commenced its operation in January 2020 and in three months company recorded revenue of Rs.31.13 crore for FY20. 
          li Total operating income of the company has improved by ~8% to Rs.133.84 crore in FY22 from Rs.123.60 crore in FY21 on account of increased sales quantity and average realisation. 
          li Since company’s main focus is on making designer products there operating and profitability margin has remained high and improved. The EBIDTA margins improved to 10.19% in FY22 from 9.37% in FY21. The PAT margin has improved to 6.14% in FY22 from 5.83% in FY21.
          li The company’s capital structure is comfortable with a Tangible Networth of Rs.21.04 crore & Debt of Rs. 18.72 crore with an overall gearing of 0.86x and total outside liabilities to tangible adjusted networth of 1.74x as on 31st March 2022. 
          li The current ratio and quick ratio appear to be healthy at 1.55x and 1.38x in FY2022 respectively. 
          li The operating cycle of the company remained healthy at 5 days in FY22. On account of healthy collection period of 42 days and low inventory days of 20 days. The company manages to keep inventory days low as it orders raw materials only after getting confirmed order from client.
        br
        strong Post the presentation, the committee discussed the following issues:
        br
        ul 
          li The Company is characterized by Experienced Promoters, Healthy Profitability Margins and Geographically diversified operations and wide range of products.
          li It is however constrained by Foreign exchange fluctuation risk & volatility of raw material prices and Intense competition in the industry and fragmented players.
        br
        strong Rating Analyst clarified the following points to the committee:
        br
        p The company has formed Foreign Exchange Risk Management Policy. As per policy recommended hedge ratio is as follows:
        br
        strong  
          u Exports
        br
        ul 
          li Cover exports @ maximum 75% of booked/costed exposures spread across 12 months going by the trend on the currency.
          li Uptrend (INR depreciation) - Cover 50 % exposure maturing within 1–3-month (booked) exposures using the law of averages at different intervals of 15-20 paise each on both sides that shall define the stop loss and take profit levels to enter incremental hedges.
          li Downtrend (INR appreciation) – max 75 % of 1-3 months exposure in a gradual manner.
        p The Unhedged foreign currency exposure as on September 30, 2022 is Rs.11.43 crore (Receivable).
        strong After the brief discussion on the agenda papers, the Rating Committee assigned the rating as proposed.
        p
          u Vote of Thanks
        p The meeting concluded with a vote of thanks to the chair at 5:30 pm.
        br
        strong Dissent (if any) by any RCM member - Nil
        br
        br
        br
        br
        div(style="display: flex; justify-content: space-between;")
          div 
            strong  Date: 
            br
            br
            strong  Place: New Delhi 
          div 
            strong  Mr. Y. L. Madan 
            br
            br
            strong  Chairman 